* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 /*     border: 1px solid;  */
    border-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu_container, .image_bloc_container,.information_container,.quote_container,.action_container{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.menu_container,.image_bloc_container , footer{
    background-color: #1f2937;
}



.menu,.image_bloc  {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links_menu div ,.image_text_body{
    font-size: 18px;
    color: #e5e7eb;
}

.image_text_button button{
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.action_container{
    padding: 80px 0;
}

.action{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
}

.action_text_head{
    font-size: 24px;
    font-weight: bolder;
}

.action_text_body{
    font-size: 16px;
}

.action_button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.action_button button{
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
    width: 150px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
}



.information,.quote{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.links_menu_container{
    display: flex;

}

.links_menu{
    display: flex;
    gap: 20px;
}

.image_bloc{
    gap: 20px;
}

.image_text,.image_space{
    display: flex;
    flex: 1;
}

.image_text{
    flex-direction: column;
    
}

.image_text div{
    padding: 10px;
}

.image_text_title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.image_space{
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #f9faf8;
}

.information_displayer{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    
}

.information_title{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.information_text{
    color: #1f2937;
    width: 200px;
    text-align: center;
}

.information_image{
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-radius: 16px;
    border: 4px solid #3882f6;
}

.quote_container{
    background-color: #e5e7eb;
}
.quote{
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.quote div{
    width: 800px;
}

.quote_text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937

}

.quote_author{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #e5e7eb;
    font-weight: bold;
}